body {
    font-family:  Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

/* fake header */

.before-header {
    padding-top: 190px;
    padding-bottom: 190px;
    text-align: center;
    position: relative;
}



.main-title-1 {
    font-size: 90px;
font-weight: 800;
background-color: #ffc402;
border-radius: 10px;
padding: 12px;
}




.before-header ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button-1 {
    background-color: #ffc402;
    color: black;
    font-size: 30px;
    font-weight: 600;
    width: 120px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 9px;
    
}

.button-2 {
    background-color: #ffc402;
        color: black;
        font-size: 30px;
        font-weight: 600;
        width: 120px;
        height: 50px;
        text-align: center;
        width: 230px;
        margin-top: 20px;
            border-radius: 10px;
            padding: 9px;
}

.button-2:hover,
.button-1:hover {
    color: white;
}

/* section header main page */

.logo {
    margin-left: 50px;
}

.header-fake {
    background-color: #9b75cc;
    position: sticky;
    top: 0;
  }

.nav>ul {
    display: flex;
    gap: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        color: white;
    }

.nav {
    display: flex;
}

.nav ul>li:hover {
    color: orange;
}
    

/* section-2 */

.futures {
    background-image: url("../images/background-section.avif");
    padding-top: 30px;
}

.future-title-1 {
    text-align: center;
    color: gray;
    display: block;
    font-size: 20px;
}

.future-title-2 {
    text-align: center;
    font-size: 40px;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.futures-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 45px;
}

.futures-list-item {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;

}

/* section-3-about */

.about {
    padding: 20px 30px;
}

.about-title {
    display: block;
    text-align: center;
}

.about-text {
    text-align: center;
    line-height: 1.7em;
}

/* section-3-gallery */

.gallery {
    background-image: url(../images/galery/galery-2.jpeg);
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    padding-bottom: 0;
}



.gallery-title {
    display: block;
    text-align: center;
    font-size: 38px;
    color: white;
}


.gallery-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1px;
    
}

.gallery-list-item {
    padding: 0;
    margin: 0;
    flex-basis: calc((100% - 4px) / 5);
    min-width: 200px;
 }


.gallery-list-item img {
    display: block;
    width: 100%;
       

}





/* footer */


footer {
        background-image: url("../images/background-section.avif");
        margin: 0;
        padding-top: 30px;
    }

    .contacts-title {
        margin-left: 650px;
        font-size: 50px;
        color: gray;
    }

    .cont-info {
        margin-left: 110px;
        width: 490px;
    }


    .cont-imgs {
        display: flex;
        margin-left: 90px;
    }

    .adress-cont {
        display: flex;
    }

    .adress {
        margin-left: 600px;

    }

    .call-us {
        position: fixed;
        bottom: 0;
        margin-left: 1400px;
        margin-bottom: 50px;
    }


