body {
    font-family:  Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.section {
    padding-left: 15px;
        padding-right: 15px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

/* fake header */

.before-header {
    padding-top: 190px;
    padding-bottom: 190px;
    text-align: center;
    position: relative;
}



.main-title-1 {
    font-size: 90px;
font-weight: 800;
background-color: #ffc402;
border-radius: 10px;
padding: 12px;
width: 80%;
margin-left: auto;
margin-right: auto;
}




.before-header ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc402;
    color: black;
    font-size: 30px;
    font-weight: 600;
    width: 120px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 9px;
    
}

.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc402;
        color: black;
        font-size: 30px;
        font-weight: 600;
        width: 120px;
        height: 50px;
        width: 230px;
        margin-top: 20px;
            border-radius: 10px;
            padding: 9px;
}

.button-2:hover,
.button-1:hover {
    color: white;
    background-color: #9b75cc;
    transition-duration: 500ms;
}

.button-1-div:hover {
    transform: rotate(360deg);
    transition-duration: 1000ms;
}

/* section header main page */

.logo {
    margin-left: 50px;
    width: 15%;
    height: 15%;
    max-width: 40px;
}

.header-fake {
    background-color: #9b75cc;
    position: sticky;
    top: 0;
  }

.main-menu-list {
    display: flex;
    gap: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        color: white;
    }

.nav {
    display: flex;
}

.nav ul>li:hover {
    color: orange;
}
    

/* section-2 */

.futures {
    background-image: url("../images/background-section.avif");
    padding-top: 30px;
}


.future-title-1 {
    text-align: center;
    color: gray;
    display: block;
    font-size: 20px;
}

.future-title-2 {
    text-align: center;
    font-size: 40px;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.futures-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 45px;
}

.futures-list-item {
    width: calc((100% - 90px) / 3);
    min-width: 250px;
    max-width: 350px;
    text-align: center;

}

/* section-3-about */

.about {
    padding: 20px 30px;
}

.about-title {
    display: block;
    text-align: center;
}

.about-text {
    text-align: center;
    line-height: 1.7em;
}

/* section-3-gallery */

.gallery {
    background-image: 
    linear-gradient(to bottom,
        rgba(255, 253, 254, 0.5),
        rgba(248, 243, 246, 0.5)
    ), 
    url(../images/galery/galery-5.jpeg);
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    padding-bottom: 0;
}



.gallery-title {
    display: block;
    text-align: center;
    font-size: 38px;
    color: white;
}


.gallery-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    
}

.gallery-list-item {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    flex-basis: calc((100% - 4px) / 5);
    min-width: 200px;
    max-width: 370px;
 }








/* footer */


footer {
        background-image: url("../images/background-section.avif");
        margin: 0;
        padding-top: 30px;
    }

    .contacts-title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        font-size: 50px;
        color: gray;
    }

    .cont-info {
        margin-left: 110px;
        width: 40%;
    }


    .cont-imgs {
        display: flex;
        margin-left: 90px;
    }

    .adress-cont {
        display: flex;
        flex-direction: column;
    }

    


    .call-us {
        position: fixed;
        bottom: 0;
        margin-left: 1400px;
        margin-bottom: 50px;
    }

        .call-us:hover {
            transform: scale(1.5);
            transition-duration: 1s;
        }
  

        /* =================== */
.menu-box {
    display: none;
}      

.menu-box-name {
    visibility: hidden;
}

.close-btn {
    display: none;
    position: absolute;
    top: 25px;
    right: 100px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffc402;
    text-align: center;
    font-weight: 900;
    padding: 0;
}

.ppp {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 4px;
    transform: translate(-50%, -50%);
}

.close-box {
    display: none;
}

@media (max-width: 400px) {
    .futures-list-item p {
        display: none;
    }
    .futures-list-item h3 {
display: none;
    }
        .contacts-title {
            font-size: 26px;
            max-width: 120px;
        }
    .futures ul {
        margin-right: 30px;
    }
}

@media (max-width: 640px) {
    .main-title-1 {
            font-size: 48px;
        }
}

@media screen and (max-width: 765px) {
    .menu-box-name {
        
        width: 20%;
        height: 27%;
        max-height: 17px;
        max-width: 40px;
        padding: 5px 8px;
        border-radius: 7px;
        background-color: #ffc402;
        color: black;
        visibility: visible;
        text-align: center;
        position: absolute;
        top: 20px;
        right: 8px;
        margin-bottom: 8px;


    }


    .main-menu-list {
        display: none;

    }
.nav {
    display: block;
}

.menu-list-container {
    display: flex;
    width: 100%;
    justify-content: end;

}

    .menu-box:checked ~ .menu-list-container .main-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 0;
        margin-right: 8px;

        
    }

    .menu-box:checked ~ .close-btn {
        display: block;
    }

    .close-box:checked ~ .menu-list-container .main-menu-list {
        display: none;
    }
 





}
